* {
	box-sizing: border-box;
	margin: 0;
}

nav {
	background-color: #EEEEEE;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 40px;
	border-bottom: 1px solid #DDDDDD;
}

h1 {
	display: inline-block;
	padding-top: 7px;
	padding-left: 8px;
	font-weight: normal;
	font-size: 20px;
}

ul {
	display: inline-block;
	position: absolute;
	right: 10px;
	font-size: 20px;
}

li {
	display: inline-block;
	padding: 5px;
}

.link {
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

main {
	padding: 70px;
}

.search {
	font-size: 18px;
	display: block;
}

img {
	height: 30px;
	width: 30px;
	border: 1px solid #DDDDDD;
	border-radius: 10%;
	position: relative;
	top: 8px;
}

form {
	padding: 18px 0px;
}

input {
	height: 30px;
	width: 400px;
	font-size: 20px;
}

.pages {
	font-size: 0;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	display: inline-block;
}

.change_page {
	font-size: 18px;
	text-decoration: none;
	color: black;
	padding: 8px 15px;
	display: inline-block;
}

.change_page:hover {
	text-decoration: underline;
}

.page_num {
	font-size: 18px;
	padding: 8px 25px;
	display: inline-block;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

.all_jobs {
	font-size: 18px;
	padding-top: 18px;
}

.job {
	padding: 8px 0px;
}

.date_place {
	color: grey;
	padding: 5px;
}


.joblink {
	font-weight: bold;
	text-decoration: none;
}

.joblink:hover {
	text-decoration: underline;
}



