button {
	width: 100px;
	height: 30px;
	position: relative;
	bottom: 5px;
}

button:hover {
	cursor: pointer;
	background-color: #c7c8cc;
}

#header {
	text-align: center;
	font-size: 75px;
	color: #bc0101;
	border-bottom: 2px solid grey;
	background-color: #cecccc;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

#input {
	width: 300px;
	height: 28px;
	border-radius: 2%;
	font-size: 25px;
}

#search-section {
	margin-top: 150px;
}